/* error-dialog.scss */

// Estiliza o cabeçalho do modal
.mat-dialog-title {
    color: #c0392b; /* Vermelho/alaranjado para indicar erro */
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

// Estiliza o conteúdo da mensagem
.mat-dialog-content {
    color: #333;
    font-size: 1rem;
    padding: 0 24px; /* Ajuste o padding interno se necessário */
}

// Estiliza o botão "Ok"
.mat-dialog-actions button {
    background-color: #3498db; /* Azul para o botão de ação */
    color: white;
    font-weight: 500;
    margin-left: 8px;

    &:hover {
        background-color: #2980b9;
    }
}